<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://orderitemsreserver20210624164930.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7f003cb9-01b6-430d-a1e1-cc90654b6593/resourcegroups/eShopRG/providers/Microsoft.Web/sites/OrderItemsReserver20210624164930</ResourceId>
    <UserName>$OrderItemsReserver20210624164930</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://orderitemsreserver20210624164930.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>